.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: black;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

main {
    height: 100vh;
    width: 70vw;
    margin: auto;
    position: relative;
    padding-top: 1rem;

    .stats {
        height: 20%;
        clear: both;
        position: absolute;
        width: 100%;
        top: 5%;
        .cpu,
        .player,
        .vs {
            width: 33.33%;
            height: 100%;
            float: left;
            line-height: 100%;
            text-align: center;
            h3 {
                margin-left: 3rem;
                line-height: 1.5rem;
            }
            mat-icon {
                font-size: 5rem;
                overflow: visible;
                margin-top: 1rem;
            }

            &.vs {
                background-image: url('../../../assets//vs.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }

    .frame {
        width: 90%;
        height: 40%;
        border-radius: 20px;
        @extend .centered;
        clear: both;
        padding: 1rem;

        @media only screen and (max-width: 1300px) {
            height: 20%;
        }

        .slot {
            width: 23%;
            height: 100%;
            float: left;
            margin-right: 2.5%;

            &:last-of-type {
                margin-right: 0;
            }

            .slot-item {
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: transform 1s linear;

                @media only screen and (min-width: 1450px) {
                    height: 150px;
                }
            }

            .slot-machine ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                transform: translateY(0);
            }

            .slot-machine {
                overflow: hidden;
                width: 100%;
                height: 100%;

                background-color: white;
                border-radius: 10px;
                border: 5px solid silver;
            }
        }
    }

    .base {
        height: 5%;
        width: 80%;
        @extend .centered;
        top: 73%;
        border-radius: 0 0 1rem 1rem;

        @media only screen and (max-width: 1300px) {
            top: 63%;
        }
    }

    .lever-gear-slim {
        height: 10%;
        width: 1%;
        @extend .centered;
        left: 96%;
    }

    .lever-gear-thick {
        height: 5%;
        width: 3%;
        @extend .centered;
        left: 98.5%;
        border-radius: 0 8px 8px 0;
    }

    .lever-rod {
        height: 15%;
        width: 1%;
        @extend .centered;
        left: 98.5%;
        top: 39.5%;

        @media only screen and (max-width: 1300px) {
            height: 10%;
            top: 42%;
        }
    }

    .lever-knob {
        height: 5%;
        width: 4%;
        @extend .centered;
        background-color: red;
        left: 98.5%;
        top: 29%;
        border-radius: 50%;
        cursor: pointer;

        @media only screen and (max-width: 1300px) {
            top: 35%;
            height: 3%;
            width: 5%;
        }

        &.pulse {
            left: 96.5%;
            top: 26.5%;
            animation: pulse 1s infinite;

            @media only screen and (max-width: 1300px) {
                top: 33.5%;
                left: 96%;
            }
        }
    }
}


